/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { 
  color: #4A4A4A;
  height: 100%;
}

body {
  background-color: #E0E0E0; 
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  margin: .83em 0;
}

p { margin: 1em 0; }

a { 
  color: #4A4A4A;
  text-decoration: underline;
  cursor: pointer;
}

a:hover   { color: #4A4A4A; }
a:visited { color: #4A4A4A; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  padding-left: 20px;
  line-height: 1.75em;
}

.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

img {
  max-width: 42em;
}

.clearfix {
  width: 42em;
  margin: 0 auto;
}

.header {
  padding: 15px 0;
  background-color: #254E69;
  width: 100%;
  border-bottom: 8px solid #4088B6;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.rss {
  position: fixed;
  right: 5px;
  bottom: 0px;
}

.citilab {
  float: right;
}

aside {
  float: right;
  vertical-align: top;
}

.site {
  text-align: justify;
  width: 42em;
  margin: 2em auto 2em;
  line-height: 1.5em;
}

.site ul {
  list-style-type: none;
}

.site ul li {
  padding-left: 20px;
  line-height: 1.75em;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  margin-top: 1em;
  float: left;
}

.footer .contact p {
  line-height: 0.5em;
}

.footer .citilab {
  margin-top: 1em;
  float: right;
}

.footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
